# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/backend"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    groups:
      python-runtime-minor-patch:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      python-runtime-major:
        dependency-type: "production"
        update-types:
          - "major"
      python-dev-minor-patch:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      python-dev-major:
        dependency-type: "development"
        update-types:
          - "major"
    ignore:
      - dependency-name: "opentelemetry-*"
